save-exact = true
engine-strict = true
unsafe-perm = true
frozen-lockfile = false
strict-peer-dependencies = false


# FUCK GFW
registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true

