save-exact = true
engine-strict = true
unsafe-perm = true
frozen-lockfile = false
strict-peer-dependencies = true



# FUCK GFW
registry=https://registry.npmmirror.com
# sass_binary_site=https://registry.npmmirror.com/node-sass/
# phantomjs_cdnurl= https://registry.npmmirror.com/binary.html?path=phantomjs/
# electron_mirror=https://registry.npmmirror.com/binary.html?path=electron/
electron-mirror=https://registry.npmmirror.com/-/binary/electron/
electron_custom_dir={{ version }}